h1{
    font-size: 30px;
    color: white;
    text-align: left;
    text-decoration:solid;
    background-color:black;
}
h3{
    font-size: 12px;
    text-align: left;
    color:white;
    
        
}

body{
    /*background-image: url("DSC_0007.jpg");*/
    background-size: cover;
    margin: 1px;
    
}

section{
    background-color: orange;

}

p{
    
    font-size: 16px;
    color: black;
    font-weight: bold;
    box-sizing: border-box;
    vertical-align: top;
    text-align: justify;

}